// Comments Form
.well
  h4 Leave a Comment:
  form(role='form')
    .form-group
      textarea.form-control(rows='3')
    button.btn.btn-primary(type='submit') Submit
hr
// Posted Comments
// Comment
.media
  a.pull-left(href='#')
    img.media-object(src='http://placehold.it/64x64', alt='')
  .media-body
    h4.media-heading
      | Start Bootstrap
      small August 25, 2014 at 9:30 PM
    |                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
// Comment
.media
  a.pull-left(href='#')
    img.media-object(src='http://placehold.it/64x64', alt='')
  .media-body
    h4.media-heading
      | Start Bootstrap
      small August 25, 2014 at 9:30 PM
    |                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    // Nested Comment
    .media
      a.pull-left(href='#')
        img.media-object(src='http://placehold.it/64x64', alt='')
      .media-body
        h4.media-heading
          | Nested Start Bootstrap
          small August 25, 2014 at 9:30 PM
        |                                 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    // End Nested Comment
